# Dependências
node_modules/

# Expo
.expo/
.expo/*
dist/
web-build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db